# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# dep vendor
vendor

# config file
config.json

# Android studio gitignore
/app/Bookinoo/*.iml
/app/Bookinoo/*.gradle
/app/Bookinoo/local.properties
/app/Bookinoo/.idea/libraries
/app/Bookinoo/.idea/modules.xml
/app/Bookinoo/.idea/workspace.xml
/app/Bookinoo/.DS_Store
/app/Bookinoo/build
/app/Bookinoo/captures
/app/Bookinoo/*.externalNativeBuild
.DS_STORE
